@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400&family=Rubik:ital,wght@0,700;1,700&display=swap');

.fare-container{
    align-items: center;
}

.intro-text{
    font-size: 23px;
    font-family: "Rubik", sans-serif; 
    font-weight: 700;
    margin-left: 2.2%;
    margin-bottom: 10px;
    margin-top: 10px;
}
.fare-container {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
}

.fare-box {
  height:max-content;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  margin-bottom: 15px;
  padding: 10px;
  background-color: #f9f9f9;
  position: relative;
  border-left: 5px solid #4CAF50; /* Green border on the left side */
  padding-top: 30px; /* Added padding to prevent overlap with the icon */
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.fare-title {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 8px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.edit-icon {
  position: absolute;
  top: 25px;
  right: 10px;
  font-size: 14px;
  cursor: pointer;
  color: #666;
}

.fare-details {
  display: flex;
  align-items: center;
  gap: 100px;
  margin: 8px 0;
}

.input-container {
  position: relative;
}

.peso-sign {
  position: absolute;
  left: 8px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 14px;
  color: #666;
}

input[type="number"] {
  width: 190px;
  height: 50px;
  padding: 5px 5px 5px 20px; /* Extra padding to make room for the peso sign */
  border: 0px;
  border-radius: 10px;
  text-align: center;
  font-family: "Rubik", serif;
  font-size: 16px;
  font-optical-sizing: auto;
  font-weight:bold;
  font-style: normal;
  background-color: #ffff;
}

.butt-icon {
  width: 100%;
  height: 100px;
  padding: 10px;
  background-color: #b6aeb7;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  width: 40px; 
  height: 40px; 
  margin-right: 10px;
}

.butt-icon:hover {
  background-color: #888888;
}

.fare-result {
  margin-top: 15px;
  text-align: center;
}

.fare-result p {
  font-size: 18px;
  margin: 5px 0;
  font-weight: bold;
}

.fare-button{
  width: 90px;
  height: 35px;
  background-color: #2B393B;
  font-size: 13px;
}

.butt-con{
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: right;
}