@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Rubik", sans-serif;
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f4f4f4;
}

.container {
    display: flex;
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100vh;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    background-color: white;
}

.welcome-section {
    flex: 1;
    background: linear-gradient(to bottom, #688b8d, #93a3a4);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.welcome-section h1 {
    font-size: 2.5em;
    font-weight: bold;
}

.login-section {
    flex: 1;
    padding: 40px;
    margin-top: -120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo-container {
    margin-bottom: 20px;
}

.logo {
    width: 150px;
    height: 150px;
}

h2 {
    font-size: 1.5em;
    margin-bottom: 20px;
}

.input-container {
    position: relative;
    margin-bottom: 20px;
    width: 400px;
}

.icon {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    color: #888;
}

input {
    width: 100%;
    padding: 10px 10px 10px 40px;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login-button {
    position: relative;
    width: 200px;
    padding: 12px;
    background-color: #303d3c;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-button:hover {
    background-color: #2c3637;
}

.forgot-password {
    margin-top: 10px;
    font-size: 0.9em;
    color: #888;
    text-decoration: none;
}

.forgot-password:hover {
    text-decoration: underline;
}

.toggle-password {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
    color: #888;
}
