.settings-container {
    width: 100%;
  
    display: grid;
    grid:
      "text" 0.2fr "username" 0.6fr;
    gap: 8px;
  
    width:60%;
    height: 420px;
    background-color: #F4F4F4;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    align-items: center;
    margin-left: 20%;
    margin-top: 15 px;
  }

  .form-group{
    margin-top: -40px;
  }
  
  .text {
    grid-area: text;
    color: black;
  }
  
  .username {
    margin-top: 50px;
    margin-left: 100px;
    height: max-content;
    grid-area: username;
    display: flex;
    flex-direction: row;
    gap: 115px;
  }
  
  .password {
    margin-top: 50px;
    margin-left: 100px;
    height: max-content;
    grid-area: password;
    display: flex;
    flex-direction: row;
    gap: 120px;
  }
  
  .new-password {
    margin-top: 50px;
    margin-left: 100px;
    display: flex;
    flex-direction: row;
    height: max-content;
    grid-area: new-pass;
    gap: 80px;
  }
  
  .confirm-pass {
    margin-top: 50px;
    margin-left: 100px;
    height: max-content;
    grid-area: confirm-pass;
    display: flex;
    flex-direction: row;
    gap: 50px;
  }
  
  .in{
    margin-right: 10px;
    width: 50%;
    padding: 5px 12px;
    font-size: 14px;
    line-height: 20px;
    color: #cbcbcb;
    vertical-align: middle;
    background-color: #ffffff;
    background-repeat: no-repeat;
    background-position: right 8px center;
    border: 1px solid #e1e4e8;
    border-radius: 6px;
    outline: none;
    box-shadow: rgba(225, 228, 232, 0.2) 0px 1px 0px 0px inset;
  }
  .in::focus{
    border-color: #0366d6;
    outline: none;
    box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
  }
  
  .settings-save{
    width: 100px;
    height: 40px;
    margin-top: 30px;
    border: 0;
    outline: 0;
    cursor: pointer;
    color: white;
    background-color: rgb(84, 105, 212);
    box-shadow: rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 12%) 0px 1px 1px 0px, rgb(84 105 212) 0px 0px 0px 1px, rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(60 66 87 / 8%) 0px 2px 5px 0px;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
    padding: 4px 8px;
    display: inline-block;
    min-height: 28px;
    transition: background-color .24s,box-shadow .24s;
  
  }
  .settings-save::hover {
    box-shadow: rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 12%) 0px 1px 1px 0px, rgb(84 105 212) 0px 0px 0px 1px, rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(60 66 87 / 8%) 0px 3px 9px 0px, rgb(60 66 87 / 8%) 0px 2px 5px 0px;
  }
  
  .container-button{
    position: absolute;
    right: 20%;
  }

  .message {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    text-align: center;
    opacity: 1;
    transition: opacity 0.5s ease; /* Smooth fade-out effect */
  }

  .message.error {
    background-color: #f44336;
    color: white;
  }

  .message.success {
    background-color: #4CAF50;
    color: white;
  }

  .hidden {
    display: none;
  }