
.main-content{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
}

.size{
    background-color: blue;
    border-radius: 10px;
    border: 3px solid black;
    width: 200px;
    height: 120px;
}
